/* lato-300 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/lato/lato-v16-latin-300.eot');
    /* IE9 Compat Modes */
    src: local('Lato Light'), local('Lato-Light'),
        url('../fonts/lato/lato-v16-latin-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/lato/lato-v16-latin-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/lato/lato-v16-latin-300.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/lato/lato-v16-latin-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/lato/lato-v16-latin-300.svg#Lato') format('svg');
    /* Legacy iOS */
}


//   -------------var-------------
$orange: #e67e22;

// --------mixin---------
@mixin h-tag {
    font-weight: 300;
    text-transform: uppercase;

}

@mixin icon-small {
    display: inline-block;
    width: 3rem;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 1rem;
    line-height: 120%;
    vertical-align: middle;
}

// --------------keyframe-------

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fade-in {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.js--wp {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

// --------------

// ------------->REUSABLE COMPONENTS <------------
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.width-child {
    width: 85%;
    margin: 0 auto;
}

section {
    padding: 8rem 0;
}

h1 {
    @include h-tag;
    margin-top: 0;
    margin-bottom: 2rem;
    color: #fff;
    font-size: 240%;
    word-spacing: .4rem;
    letter-spacing: .1rem;
}

h2 {
    @include h-tag;
    font-size: 180%;
    word-spacing: .2rem;
    text-align: center;
    margin-bottom: 3rem;
    letter-spacing: .1rem;

    &::after {
        content: " ";
        display: block;
        height: .2rem;
        background-color: $orange;
        width: 10rem;
        margin: 0 auto;
        margin-top: 3rem;
    }
}

h3 {
    @include h-tag;
    font-size: 110%;
    margin-bottom: 1.5rem;
}

// =============animation=================
// .animation {
//     -webkit-animation-duration: 1s;
//     animation-duration: 1s;

// }

// ------------->Button<------------
.btn,
input[type=submit] {
    display: inline-block;
    padding: 1rem 3rem;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    border-radius: 20rem;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;

    &:hover {
        background-color: #cf6d17;
    }
}

.btn-full,
input[type=submit] {
    background-color: $orange;
    border: 1px solid $orange;
    color: #fff;
    margin-right: 1.5rem;

    &:hover {
        border: 1px solid #cf6d17;
    }
}

.btn-ghost {
    border: 1px solid $orange;
    color: $orange;

    &:hover {
        border: 1px solid #cf6d17;
        color: #fff;
    }
}

// ================mobile===================
.mobile-nav-icon {
    float: right;
    margin-top: 3rem;
    cursor: pointer;
    display: none;

    i {
        font-size: 200%;
        color: #fff;
    }
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0 2px 2px #efefef;
            box-shadow: 0 2px 2px #efefef;
    z-index: 7;

    .top-header {
        .nav__menu {
            margin-top: 18px !important;

            .item {
                .nav-link {
                    padding: 16px 0 !important;
                    color: #555 !important;
                    ;
                }
            }
        }

        .logo-white {
            display: none;
        }

        .logo-black {
            display: block !important;
        }
    }

}

// =====================

//   ====================
:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wraper {
    max-width: 160rem;
    margin: 0 auto;

    header {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(/resources/imgs/hero.jpg);
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/resources/imgs/hero.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        height: 100vh;

        nav {

            .top-header {
                a {
                    .logo-white {
                        height: 8rem;
                        width: auto;
                        float: left;
                        margin-top: 2rem;
                    }

                    .logo-black {
                        display: none;
                        height: 5rem;
                        width: auto;
                        float: left;
                        margin: 5px 0;
                    }
                }

                .nav__menu {
                    float: right;
                    list-style: none;
                    margin-top: 5.5rem;

                    .item {
                        display: inline-block;
                        margin-left: 4rem;

                        .nav-link {
                            padding: 8px 0;
                            color: #fff;
                            text-decoration: none;
                            text-transform: uppercase;
                            font-size: 90%;

                            &:after {

                                content: '';
                                display: block;
                                width: 0;
                                height: 0.2rem;
                                background-color: #e67e22;
                                -webkit-transition: width 0.3s;
                                transition: width 0.3s;

                            }

                            &:hover {
                                &::after {
                                    width: 100%;
                                }
                            }

                        }
                    }
                }

            }
        }

        .text__box {
            position: absolute;
            width: 100rem;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

        }
    }

    .section__features {
        .section__fea-header {
            width: 75%;
            margin: 0 auto;

            .fea-header--title {}

            .fea-header--content {}
        }

        .section__fea-main {
            padding-top: 5rem;
            margin: 0 auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            .fea-main--col {
                width: 22%;
                margin: 0 auto;

                .fab,
                .fas {
                    font-size: 350%;
                    display: block;
                    color: #e67e22;
                    margin-bottom: 3rem;

                }

                .main-col--title {}

                .main-col--content {
                    font-size: 90%;
                    line-height: 145%;
                }
            }
        }
    }

    .section__meals {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0;

        .meal-show {
            list-style: none;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;

            .meal-item {
                width: 25%;

                .meal-img {
                    width: 100%;
                    overflow: hidden;

                    .meal-photo {
                        width: 100%;
                        -webkit-filter: brightness(70%);
                        filter: brightness(70%);
                        webkit-filter: brightness(70%);
                        -webkit-transform: scale(1.15);
                        transform: scale(1.15);
                        -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
                        -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
                        transition: opacity 0.5s, -webkit-transform 0.5s;
                        transition: transform 0.5s, opacity 0.5s;
                        transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;

                        &:hover {
                            -webkit-filter: brightness(100%);
                            filter: brightness(100%);
                            -webkit-transform: scale(1.03);
                            transform: scale(1.03);
                        }

                    }
                }
            }
        }


    }

    .section__works {
        background-color: #f4f4f4;

        .works-header {
            .works-title {}
        }

        .works-steps {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            .works-steps--box {
                margin-top: 3rem;
                width: 49.2%;

                &:first-child {
                    text-align: right;
                    padding-right: 3%;
                }

                &:nth-child(2) {
                    text-align: left;
                    padding-left: 3%;
                    margin-top: 7rem;
                }

                .box-phone {
                    width: 50%;
                    position: relative;
                    z-index: 2;


                }

                .clearfix {
                    margin-bottom: 5rem;

                    .number-circle {
                        color: #e67e22;
                        font-size: 150%;
                        height: 5.4rem;
                        width: 5.4rem;
                        border: .2rem solid #e67e22;
                        border-radius: 50%;
                        display: inline-block;
                        text-align: center;
                        margin-right: 2.5rem;
                        float: left;
                        padding: .5rem;
                    }
                }

                .btn-app {
                    img {
                        height: 5rem;
                        width: auto;
                        margin-right: 1rem;
                    }
                }
            }
        }
    }

    .section__cities {
        position: relative;
        z-index: 3;
        background-color: #fff;

        .cities-header {}

        .cities-agency {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            .cities-agency--box {
                display: grid;
                width: 24%;
                // padding: 2rem;
                margin: 2rem 0 2rem 2.4rem;

                &:first-child {
                    margin-left: 0;
                }

                .cities--img {
                    width: 100%;
                    height: auto;
                    margin-bottom: 1.5rem;
                }

                h3 {}

                .cities-features {
                    margin-bottom: .5rem;

                    .fas,
                    .fab {
                        @include icon-small;

                    }

                    .fa-twitter {
                        &:hover {
                            color: #00aced;
                        }
                    }

                    span {}

                    .twitter-link {
                        color: #e67e22;
                        text-decoration: none;
                        padding-bottom: .1rem;
                        border-bottom: .1rem solid #e67e22;
                        -webkit-transition: border-bottom 0.2s, color 0.2s;
                        transition: border-bottom 0.2s, color 0.2s;

                        &:hover {
                            color: #555;
                            border-bottom: none;
                        }
                    }

                }
            }
        }
    }

    .section__customers {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("/resources/imgs/back-customers.jpg");
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/resources/imgs/back-customers.jpg");
        background-size: cover;
        color: #fff;
        background-attachment: fixed;

        .customers-header {}

        .customers-content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            .customers--row {
                width: 32%;
                margin: 1% 0 1% 1.6%;

                blockquote {
                    padding: 2%;
                    font-style: italic;
                    line-height: 145%;
                    position: relative;
                    margin-top: 4rem;

                    &:before {
                        font-family: fontAwesome;
                        content: "\f10d";
                        font-size: 100%;
                        display: block;
                        position: absolute;
                        top: -5rem;
                        // left: -5rem;

                    }

                    cite {
                        font-size: 90%;
                        margin-top: 2.5rem;
                        display: block;

                        .customers-img-circle {
                            height: 4.5rem;
                            border-radius: 50%;
                            margin-right: 1rem;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }

    .section__plans {
        background-color: #f4f4f4;

        .plans-header {}

        .plans-content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            // @include width-child;
            .plans-content--row {
                width: 34%;
                margin: 0 auto;

                .plans--box {
                    background-color: #fff;
                    border-radius: .5rem;
                    width: 90%;
                    margin-left: 5%;
                    -webkit-box-shadow: 0 2px 2px #efefef;
                    box-shadow: 0 2px 2px #efefef;

                    div {
                        padding: 1.5rem;
                        border-bottom: .1rem solid #e8e8e8;
                    }

                    .box-top {
                        background-color: #fcfcfc;
                        border-top-left-radius: .5rem;
                        border-top-right-radius: .5rem;

                        .plan-price {
                            font-size: 300%;
                            margin-bottom: 1rem;
                            font-weight: 100;
                            color: #e67e22;

                            span {
                                font-size: 30%;
                                font-weight: 300;
                            }
                        }

                        .plan-price-meal {
                            font-size: 80%;
                        }
                    }

                    .box-center {
                        .box-list {
                            list-style: none;

                            li {
                                padding: .5rem 0;

                                .fas {
                                    @include icon-small;
                                    font-size: 1.4rem;
                                }
                            }
                        }
                    }

                    .box-sign_up {
                        text-align: center;
                        border: 0;
                    }
                }

            }
        }
    }

    .section__form {
        .form-header {
            // @include width-child;
        }

        .form-content {

            // @include width-child;
            .form-contact {
                width: 60%;
                margin: 0 auto;

                input[type=text],
                input[type=email],
                select,
                textarea {
                    width: 100%;
                    padding: .7rem;
                    border-radius: 3px;
                    border: 1px solid #ccc;
                }

                .row {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;

                    .col {
                        display: block;
                        float: left;
                        margin: 1% 0 1% 1.6%;
                    }

                    .form-col--1 {
                        width: 33%;

                        label {}
                    }

                    .form-col--2 {
                        width: 64%;

                        textarea {
                            height: 10rem;
                        }

                        input[type=checkbox] {
                            margin: 10px 5px 10px 0;

                        }

                    }
                }
            }
        }
    }

    footer {
        background-color: #333;
        padding: 5rem;
        font-size: 80%;

        .footer-header {
            // @include width-child;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            .footer-left {
                float: left;
                margin: 1% 0 1% 0;
                width: 49%;

                .footer-nav {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    list-style: none;
                    float: left;

                    li {
                        display: inline-block;
                        margin-right: 2rem;

                        &:last-child {
                            margin-right: 0;
                        }

                        a {
                            text-decoration: none;
                            border: 0;
                            color: #888;
                            -webkit-transition: color 0.2s;
                            transition: color 0.2s;

                            &:hover {
                                color: #ddd;
                            }
                        }
                    }
                }
            }

            .footer-right {
                margin: 1% 0 1% 1.6%;
                width: 49%;
                float: right;

                .social-links {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    list-style: none;
                    float: right;

                    li {
                        display: inline-block;
                        margin-right: 2rem;

                        &:last-child {
                            margin-right: 0;
                        }

                        a {
                            text-decoration: none;
                            border: 0;
                            color: #888;
                            -webkit-transition: color 0.2s;
                            transition: color 0.2s;

                            .fab {
                                font-size: 140%;
                                -webkit-transition: color 0.2s;
                                transition: color 0.2s;

                                &:hover {
                                    color: #00aced;

                                }
                            }
                        }
                    }
                }
            }
        }

        .footer-content {
            width: 70%;
            margin: 3rem auto;

            p {
                color: #888;
                text-align: center;
                margin-top: 2rem;
            }

            .author {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                margin-top: 2rem;
                color: blanchedalmond;
                cursor: pointer;

                &:hover {
                    color: blueviolet;
                }
            }
        }
    }

}

@media only screen and (max-width: 1200px) {
    .text__box {
        width: 100%;
        padding: 0 2%;
    }

    body {
        font-size: 1.8rem !important;
    }

}

@media only screen and (max-width: 1023px) {
    body {
        font-size: 1.8rem !important;
    }

    .width-child {
        width: 90%;
        margin: 0 auto;
    }

    section {
        padding: 6rem 0 !important;
    }

    .section__meals {
        padding: 0 !important;
    }

    .text__box {
        width: 100%;
        padding: 0 18%;
    }

    .number-circle {
        padding: .7rem !important;
    }

    .section__plans {
        font-size: 90%;
    }

    .plans--box {
        width: 95% !important;

        &:nth-child(1) {
            margin-left: 0% !important;
        }
    }

    .works-steps--box {
        margin-top: 1rem;

        &:last-child {
            margin-top: 1rem;
        }
    }

    .clearfix {
        margin-bottom: 4rem;

        &:last-of-type {
            margin-bottom: 6rem;
        }
    }

    .cities-features {
        font-size: 90% !important;

        .fas,
        .fab {
            width: 1.7rem;
            margin-right: .5rem;
        }
    }

    .plan-price {
        font-size: 250% !important;
    }

    h1 {
        font-size: 200%;
    }


}

@media only screen and (max-width: 767px) {
    body {
        font-size: 1.6rem !important;
    }

    .width-child {
        width: 96%;
        margin: 0 auto;
    }

    h1 {
        font-size: 170% !important;
        text-align: center;
    }

    h2 {
        font-size: 150%;
    }

    section {
        padding: 2.5rem 0 !important;
    }

    .text__box {
        width: 100% !important;
        padding: 0 4%;
        top: 70% !important;
        text-align: center;

        .btn {
            margin-bottom: 2rem !important;
        }
    }

    // .js--nav__menu{ display: flex;}
    .nav-bg {
        // background-color: #333;
        // position: fixed;
        // z-index: 10;
        // width: 102%;
        // height: 30vh;
        // transition: transform .25s linear;
    }

    .nav__menu {
        display: none;
    }

    .nav__menu {

        float: left !important;
        margin-top: 30% !important;
        margin-left: 1.5rem !important;

        .item {
            display: block !important;

            .nav-link {
                display: block !important;
                border: 0;
                padding: 10px 0 !important;
                font-size: 100% !important;
            }
        }
    }

    .sticky {
        .nav__menu {
            margin-top: 5rem !important;
            margin-left: 2.5rem !important;

            li {
                a {
                    padding: 1rem 0;
                }
            }
        }

        .mobile-nav-icon {
            margin-top: 1rem;

            i {
                color: #555;
            }
        }
    }

    .mobile-nav-icon {
        display: inline-block;
    }


    .clearfix {
        margin-bottom: 2rem;

        &:last-of-type {
            margin-bottom: 2rem;
        }

        .number-circle {
            height: 40px;
            width: 40px;
            margin-right: 15px;
            padding: 4px;
            font-size: 120%;
        }
    }

    .section__fea-main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        .fea-main--col {
            width: 100% !important;
            text-align: center;
            margin: 1rem auto !important;
        }
    }

    .section__fea-header {
        width: 100% !important;
        text-align: center;

    }

    .works-steps {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .works-steps--box {
        width: 100% !important;

        &:nth-child(2) {
            background: #f4f4f4;
            position: relative;
            z-index: 6;
        }

        &:first-child {
            text-align: center !important;
            padding: 0 !important;

            .box-phone {
                width: 40%;
            }
        }

        .clearfix {
            margin-bottom: 3rem !important;

            .number-circle {
                height: 4.5rem !important;
                width: 4.5rem !important;
                padding: 0.6rem !important;
            }
        }
    }

    .cities-agency {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        .cities-agency--box {
            width: 100% !important;
            margin: 0rem 0 2rem 0rem !important;
        }
    }

    .customers-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        .customers--row {
            width: 100% !important;
            margin: 1% 0 10% 1.6% !important;
        }
    }

    .plans-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        .plans-content--row {
            width: 100% !important;
            margin: 1rem auto !important;

            .plans--box {
                width: 100% !important;
            }
        }
    }

    .form-contact {
        width: 90% !important;
    }

    footer {
        padding: 2rem !important;

        .footer-header {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            width: 100% !important;

            .footer-left {
                width: 100% !important;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
            }

            .footer-right {
                width: 100% !important;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                margin: 5% 0 1% 0 !important;
            }
        }

        .footer-content {
            width: 100% !important;
        }
    }

}

@media only screen and (max-width: 480px) {
    section {
        padding: 2.5rem 0;
    }
}